---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?q=coso
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_ID>"
  response:
    status:
      code: 401
      message: PermissionDenied
    headers:
    body:
      encoding: UTF-8
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
  recorded_at: Thu, 15 Apr 2021 02:32:35 GMT
recorded_with: VCR 6.0.0
